environment:
  APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  VCVARSALLPATH: C:\"Program Files (x86)\Microsoft Visual Studio"\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
  VCVARSALL: x64
  nodejs_version: "12.1.0"
  npm_version: "6.14.4"
  GYP_MSVS_VERSION: 2017
  platform: "x64"

init:
  - call %VCVARSALLPATH% %VCVARSALL%

install:
  - cmd: appveyor-retry powershell Install-Product node $env:nodejs_version x64

build_script:
  - cd third_party_dependencies
  - npx @bazel/bazelisk version
  - npx @bazel/bazelisk build //...
  - npx @bazel/bazelisk test //...
