image:
  - Ubuntu2004
  - Ubuntu2204
  - Visual Studio 2019
  - Visual Studio 2022

environment:
  USE_BAZEL_VERSION: 8.5.0
  BAZELISK_VERSION: 1.26.0
  VCVARSALL: x64
  platform: "x64"

for:
-
  matrix:
    only:
      - image: Ubuntu2004
      - image: Ubuntu2204
  environment:
    BAZELISK_BINARY: bazelisk-linux-amd64
    BAZEL_BINARY: bazel
-
  matrix:
    only:
      - image: Visual Studio 2019
  environment:
    VCVARSALLPATH: C:\"Program Files (x86)\Microsoft Visual Studio"\2019\Community\VC\Auxiliary\Build\vcvarsall.bat
    GYP_MSVS_VERSION: 2019
    BAZELISK_BINARY: bazelisk-windows-amd64.exe
    BAZEL_BINARY: bazel.exe
-
  matrix:
    only:
      - image: Visual Studio 2022
  environment:
    VCVARSALLPATH: C:\"Program Files\Microsoft Visual Studio"\2022\Community\VC\Auxiliary\Build\vcvarsall.bat
    GYP_MSVS_VERSION: 2022
    BAZELISK_BINARY: bazelisk-windows-amd64.exe
    BAZEL_BINARY: bazel.exe

init:
  - cmd: call %VCVARSALLPATH% %VCVARSALL%

install:
  # Create a bin folder where bazelisk will be located and add it in the path
  - ps: New-Item -Type dir "$env:HOME\bin"
  - ps: |
      if ($isLinux) {
        $env:PATH += ":$env:HOME/bin"
      } else {
        $Env:Path += ";$env:HOME/bin"
      }
  # Download bazelisk from github
  - ps: Invoke-Webrequest "https://github.com/bazelbuild/bazelisk/releases/download/v$env:BAZELISK_VERSION/$env:BAZELISK_BINARY" -OutFile "$env:BAZELISK_BINARY"
  # Renaming bazelisk to bazel is quite a common practice, people got used to run bazel build and not bazelisk build
  - ps: Copy-Item -Path "$env:BAZELISK_BINARY" -Destination "$env:HOME\bin\$env:BAZEL_BINARY" -Recurse
  - sh: chmod +x $HOME/bin/bazel

build_script:
  - cmd: pwsh .\script.ps1
  - sh: pwsh -File script.ps1
