######################
## Windows specific ##
######################

# Required by rules_python starting with version 2.0.0
startup --windows_enable_symlinks

#####################
## Python specific ##
#####################

# Disable automatic creation of __init__.py files in every output tree folder that contains Python code
build --incompatible_default_to_explicit_init_py

#############################
## Terminal output options ##
#############################

# If a command fails, print out the full command line
build --verbose_failures

# Display the subcommands used to generate each target
# Uncomment to see the effect, if you have it allways enabled it will increase quite a log the logs
# build --subcommands=pretty_print

#####################
## Caching options ##
#####################

# Enable disk cache
build --disk_cache=~/.bazel/disk_cache/
