#############################
## Terminal output options ##
#############################

# If a command fails, print out the full command line
build --verbose_failures

# Display the subcommands used to generate each target
# Uncomment to see the effect, if you have it allways enabled it will increase quite a log the logs
# build --subcommands=pretty_print

#####################
## Caching options ##
#####################

# Enable disk cache
# build --disk_cache=~/.bazel/disk_cache/

coverage --instrument_test_targets
coverage --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main
coverage --combined_report=lcov

coverage --test_tag_filters=unit
coverage --nobuild_tests_only
coverage -c dbg
